@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/*General Tweaks*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #9D9D9D;
    color: #FFF;
}

body {
    background-color: #202124;
    color: #BDC1C6;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color:#BDC1C6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul,
li {
    list-style: none;
    display: inline;
}

/*NAVBAR*/
/*TODO: Figure out how to padding properly, add margin*/
nav {
    display: flex;
    width: 100%;
    min-height: 50px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 15px;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #E4E4E4;
}

.app-img {
    opacity: 69%; /* lol */
}

.prof-img {
    border-radius: 50%;
    width: 100%;
    max-width: 32px;
    height: 100%;
    max-height: 32px;
}

/*MAIN AREA (Google logo, searchbar and buttons)*/
/*Make the entire main section a flex element?*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchbar {
    background-color: transparent;
    color: #e8eaed;
    border: 1px solid #5f6368;
    border-radius: 45px;
    width: 100%;
    max-width: 548px;
    height: 44px;
    padding-left: 40px;
    padding-right: 35px;
    font-size: 16px;
}

.searchbar:hover,
.searchbar:focus {
    background: #303134;
    border: 1px solid #303134;
    outline: none;
}

.search-img {
    opacity: 50%;
}

button {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer; 
}

button:hover {
    border-color: #5f6368;
}

/*FOOTER*/
/*TODO: Figure out how to padding properly, add margin*/
/*Add .footer li*/
.footer {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 46px;
    background-color: #171717;
    color: #bdc1c6;
    font-size: 14px;
    padding: 0 20px;
} 

.footer li {
    padding-left: 25px;
}