@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/*General Tweaks*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #9D9D9D;
    color: #FFF;
}

body {
    background-color: #202124;
    color: #BDC1C6;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color:#BDC1C6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul,
li {
    list-style: none;
}

/*NAVBAR*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #E4E4E4;
}

.app-img {
    opacity: 69%; /* lol */
}

.prof-img {
    border-radius: 50%;
    width: 100%;
    max-width: 32px;
    height: 100%;
    max-height: 32px;
}

/*MAIN AREA (Google logo, searchbar and buttons)*/
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchbar {
    display: block;
    background: #202124;
    color: #BDC1C6;
    border: 1px solid #5f6368;
    border-radius: 45px;
    width: 548px;
    height: 44px;
    margin: 0 auto;
}

.searchbar:hover {
    background: #303134;
    border: 1px solid #303134;
}

button {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer; 
}

button:hover {
    border-color: #5f6368;
}

/*FOOTER*/
/*Figure out how to make a good footer*/
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #171717;
    font-size: 14px;
}