@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #9D9D9D;
    color: #FFF;
}

body {
    background-color: #202124;
    color: #BDC1C6;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color:#BDC1C6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
}